@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Oswald:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  width: 100%;
  height: 120px;
  background-image: url(../img/header-bg.png);
  background-image: url(../img/header-bg.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.site-header .nav .nav-header {
  z-index: 4;
}
.site-header .nav .nav-header .nav-toggle {
  background: transparent;
  border: 0;
}
.site-header .nav .nav-header .nav-toggle .hamburger {
  position: relative;
  display: block;
  width: 1.5em;
  height: 3px;
  background: #000;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}
.site-header .nav .nav-header .nav-toggle .hamburger::before {
  top: 8px;
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 1.5em;
  height: 3px;
  background: #000;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}
.site-header .nav .nav-header .nav-toggle .hamburger::after {
  bottom: 8px;
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 1.5em;
  height: 3px;
  background: #000;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}
.site-header .nav .nav-lists-container {
  display: flex;
}
.site-header .nav .nav-lists-container .nav-link,
.site-header .nav .nav-lists-container .lang-current,
.site-header .nav .nav-lists-container .lang-link {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #000;
  text-decoration: none;
}
.site-header .nav .nav-lists-container .active-page {
  font-weight: 600;
}
.site-header .nav .nav-lists-container .nav-list {
  display: flex;
  max-width: 910px;
  width: 100%;
}
.site-header .nav .nav-lists-container .lang-list {
  position: relative;
}
.site-header .nav .nav-lists-container .lang-list .lang-current {
  margin-right: 3px;
}

.active-page {
  font-weight: 600;
}
.active-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ffa800;
}

@media (min-width: 1281px) {
  .site-header {
    padding-right: 40px;
    padding-left: 40px;
  }
  .site-header .nav {
    display: flex;
    justify-content: space-between;
    max-width: 1243px;
    width: 100%;
    margin: 0 auto;
  }
  .site-header .nav .nav-header .nav-toggle {
    display: none;
  }
  .site-header .nav .nav-lists-container {
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin-top: 50px;
  }
  .site-header .nav .nav-lists-container .nav-list {
    justify-content: space-between;
  }
  .site-header .nav .nav-lists-container .lang-list .lang-options {
    position: absolute;
    top: 30px;
    right: -20px;
    z-index: 10;
    width: 70px;
    text-align: center;
    background: #fff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
  }
  .site-header .nav .nav-lists-container .lang-list .lang-options .lang-item {
    padding: 10px;
  }
  .site-header .nav .nav-lists-container .lang-list .lang-options .lang-item:last-child {
    margin-bottom: 5px;
  }
  .site-header .nav .nav-lists-container .lang-list .lang-options.show {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 1280px) {
  .nav-open {
    overflow: hidden;
  }
  .nav-open .site-header .nav .nav-header .nav-toggle .hamburger {
    transform: rotate(0.625turn);
  }
  .nav-open .site-header .nav .nav-header .nav-toggle .hamburger::after {
    opacity: 0;
  }
  .nav-open .site-header .nav .nav-header .nav-toggle .hamburger::before {
    transform: rotate(90deg) translateX(-8px);
  }
  .nav-open .site-header .nav .nav-lists-container {
    height: 100vh;
    overflow: scroll;
  }

  .site-header {
    height: 96px;
  }
  .site-header::after {
    top: 70px;
    height: 28px;
  }
  .site-header .nav {
    width: 100%;
  }
  .site-header .nav .nav-header {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 80px;
    padding-left: 80px;
  }
}
@media (max-width: 1280px) and (max-width: 767px) {
  .site-header .nav .nav-header {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 1280px) {
  .site-header .nav .nav-header .site-logo {
    width: 128px;
    height: 81px;
  }
}
@media (max-width: 1280px) {
  .site-header .nav .nav-lists-container {
    position: fixed;
    top: 81px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    flex-direction: column;
    width: 100%;
    height: 0;
    text-align: center;
    background: #fff;
    transition: all 0.3s linear 0s;
    overflow: hidden;
  }
  .site-header .nav .nav-lists-container .nav-link,
.site-header .nav .nav-lists-container .lang-link {
    font-size: 24px;
    line-height: 29px;
  }
  .site-header .nav .nav-lists-container .nav-list {
    flex-direction: column;
    order: 2;
    margin: 0 auto 80px;
  }
  .site-header .nav .nav-lists-container .nav-list .nav-item {
    margin-bottom: 80px;
  }
  .site-header .nav .nav-lists-container .lang-list {
    order: 1;
    margin-top: 109px;
    margin-bottom: 80px;
  }
  .site-header .nav .nav-lists-container .lang-list .lang-current {
    display: none;
  }
  .site-header .nav .nav-lists-container .lang-list .lang-options {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .site-header .nav .nav-lists-container .lang-list .lang-options .lang-item + .lang-item {
    margin-left: 80px;
  }
}
@media (max-width: 767px) {
  .site-header {
    height: 58px;
  }
  .site-header::after {
    top: 45px;
    height: 20px;
  }
  .site-header .nav .nav-header .site-logo {
    width: 72px;
    height: 48px;
  }
  .site-header .nav .nav-lists-container {
    top: 48px;
  }
  .site-header .nav .nav-lists-container .nav-link,
.site-header .nav .nav-lists-container .lang-link {
    font-size: 18px;
    line-height: 22px;
  }
  .site-header .nav .nav-lists-container .nav-list {
    margin: 0 auto 40px;
  }
  .site-header .nav .nav-lists-container .nav-list .nav-item {
    margin-bottom: 40px;
  }
  .site-header .nav .nav-lists-container .lang-list {
    margin-top: 44px;
    margin-bottom: 40px;
  }
  .site-header .nav .nav-lists-container .lang-list .lang-options .lang-item + .lang-item {
    margin-left: 20px;
  }
}
/* site footer */
.site-footer {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  padding-top: 68px;
  padding-bottom: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
  background-image: url(../img/footer-bg.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: top;
}
.site-footer .footer-container {
  display: flex;
  flex-direction: column;
  max-width: 1239px;
  width: 100%;
  margin: auto;
}
.site-footer .footer-container .footer-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto 13px;
}
.site-footer .footer-container .footer-section h3 {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
}
.site-footer .footer-container .footer-section li,
.site-footer .footer-container .footer-section a,
.site-footer .footer-container .footer-section button {
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  color: #fff;
}
.site-footer .footer-container .footer-section .footer-logo {
  width: 182px;
  height: 182px;
  margin-bottom: 30px;
}
.site-footer .footer-container .footer-section .footer-list-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 11%;
}
.site-footer .footer-container .footer-section .footer-list-wrap .footer-nav-list {
  padding: 0;
  margin: 0;
}
.site-footer .footer-container .footer-section .footer-list-wrap .footer-nav-list .active-page {
  font-weight: 500;
}
.site-footer .footer-container .footer-section .footer-list-wrap .footer-nav-list .footer-nav-item:not(:last-child) {
  margin-bottom: 21px;
}
.site-footer .footer-container .footer-section .company-info .company-item {
  margin-bottom: 10px;
  line-height: 23px;
}
.site-footer .footer-container .footer-section .contact-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.site-footer .footer-container .footer-section .contact-info .contact-name {
  text-align: right;
}
.site-footer .footer-container .footer-section .contact-info li {
  margin-bottom: 10px;
}
.site-footer .footer-container .footer-section .contact-info .contact-info-list {
  margin-bottom: 40px;
}
.site-footer .footer-container .footer-section .contact-info .social-icons {
  display: flex;
  justify-content: flex-end;
}
.site-footer .footer-container .footer-section .contact-info .social-icons .instagram-icon {
  font-size: 40px;
}
.site-footer .footer-container .footer-section .contact-info .social-icons .fb-icon {
  margin-top: 2px;
  margin-right: 28px;
  font-size: 35px;
}
.site-footer .footer-container .rights-privacy-container {
  display: flex;
  justify-content: space-between;
  max-width: 1239px;
  width: 100%;
  margin: auto;
}
.site-footer .footer-container .rights-privacy-container p {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
}
.site-footer .footer-container .rights-privacy-container .privacy {
  display: flex;
  align-items: flex-end;
}

.company-info-btn {
  text-align: right;
  font-weight: 700;
  background-color: transparent;
  border: none;
}

.company-list-mobile {
  height: 0;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .site-footer .footer-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1101px) {
  .visible {
    height: auto;
  }

  .company-list-mobile {
    margin-top: 10px;
  }

  .site-footer .footer-container {
    padding-right: 80px;
    padding-left: 80px;
  }
}
@media (max-width: 1101px) and (max-width: 767px) {
  .site-footer .footer-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 1101px) {
  .site-footer .footer-container .footer-section .footer-logo {
    width: 162px;
    height: 162px;
    margin-bottom: 30px;
  }
  .site-footer .footer-container .footer-section .footer-list-wrap {
    width: auto;
  }
  .site-footer .footer-container .footer-section .footer-list-wrap .footer-nav-list,
.site-footer .footer-container .footer-section .footer-list-wrap .company-info {
    display: none;
  }
  .site-footer .footer-container .footer-section .footer-list-wrap .contact-info .contact-name {
    display: none;
  }
  .site-footer .footer-container .footer-section .footer-list-wrap .contact-info .contact-info-list {
    margin-bottom: 0;
  }
  .site-footer .footer-container .footer-section .footer-list-wrap .contact-info .social-icons {
    margin-top: 35px;
  }
  .site-footer .footer-container .footer-section .footer-list-wrap .contact-info .social-icons .instagram-icon {
    font-size: 35px;
  }
  .site-footer .footer-container .footer-section .footer-list-wrap .contact-info .social-icons .fb-icon {
    font-size: 30px;
  }
}
@media (max-width: 1101px) {
  .site-footer .rights-privacy-container .rigths {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1100px) {
  .contact-name-mobile,
.company-info-btn {
    display: none;
  }
}
@media (max-width: 600px) {
  .site-footer {
    background-image: url(../img/footer-bg.svg);
    background-position: 87% top;
  }
  .site-footer .footer-container .footer-section {
    flex-direction: column;
  }
  .site-footer .footer-container .footer-section h3 {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
  .site-footer .footer-container .footer-section li,
.site-footer .footer-container .footer-section a {
    font-size: 12px;
    line-height: 15px;
  }
  .site-footer .footer-container .footer-section .footer-logo {
    width: 100px;
    height: 100px;
  }
  .site-footer .footer-container .footer-section .footer-list-wrap {
    margin-left: 0;
    text-align: left;
  }
  .site-footer .footer-container .footer-section .contact-info {
    text-align: left;
  }
  .site-footer .footer-container .footer-section .contact-info .contact-info-list {
    padding: 0;
  }
  .site-footer .footer-container .footer-section .contact-info .company-info-btn {
    padding: 0;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
  }
  .site-footer .footer-container .footer-section .contact-info .social-icons {
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .site-footer .footer-container .rights-privacy-container {
    flex-direction: column;
  }
  .site-footer .footer-container .rights-privacy-container p {
    line-height: 13px;
    font-size: 11px;
    margin: 0;
  }
  .site-footer .footer-container .rights-privacy-container .rigths {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
}
.idea-container {
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 151px;
}
@media (max-width: 767px) {
  .idea-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.idea-container .paragraph-small {
  max-width: 606px;
}

@media (max-width: 600px) {
  .idea-container {
    padding-bottom: 80px;
  }
}
.sparkle-purpose {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 705px;
  background-image: url(../img/juris.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.sparkle-purpose::before {
  top: -1px;
  height: 55px;
  background: url(../img/ripped-line.png);
  background: url(../img/ripped-line.svg);
  transform: rotate(-180deg);
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sparkle-purpose::after {
  bottom: -1px;
  height: 55px;
  background: url(../img/ripped-line.png);
  background: url(../img/ripped-line.svg);
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sparkle-purpose .purpose-paragraph {
  max-width: 818px;
  width: 100%;
  margin: 0 auto 89px;
  color: #fff;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  line-height: 36px;
  text-transform: none;
}

@media (max-width: 768px) {
  .sparkle-purpose {
    height: 499px;
  }
  .sparkle-purpose::before {
    top: -1px;
  }
  .sparkle-purpose::after {
    bottom: -2px;
  }
  .sparkle-purpose .purpose-paragraph {
    padding-right: 80px;
    padding-left: 80px;
  }
}
@media (max-width: 768px) and (max-width: 767px) {
  .sparkle-purpose .purpose-paragraph {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 600px) {
  .sparkle-purpose {
    height: 476px;
    background-position: 70%;
  }
  .sparkle-purpose .purpose-paragraph {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 65px;
  }
}
.reviews-container {
  display: flex;
  justify-content: center;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 146px;
  padding-bottom: 175px;
}
@media (max-width: 767px) {
  .reviews-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.reviews-container .review-card {
  max-width: 602px;
  width: 100%;
}
.reviews-container .review-card .author {
  margin-bottom: 10px;
  line-height: 36px;
  text-transform: capitalize;
  text-align: left;
}
.reviews-container .review-card .job {
  margin-bottom: 33px;
  font-size: 18px;
  line-height: 22px;
}
.reviews-container .review-card .review {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 29px;
  font-style: italic;
}
.reviews-container .review-card .button-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 74px;
}
.reviews-container .review-card .button-container .prev-btn,
.reviews-container .review-card .button-container .next-btn {
  position: relative;
  padding: 0;
  background: none;
  outline: none;
  border: none;
}
.reviews-container .review-card .button-container .prev-btn::before,
.reviews-container .review-card .button-container .next-btn::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 25px;
  background-image: url(../img/review-btn.png);
  background-image: url(../img/review-btn.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
.reviews-container .review-card .button-container .prev-btn::before {
  left: 0;
  transform: rotate(-180deg);
}
.reviews-container .review-card .button-container .next-btn::after {
  right: 0px;
}

@media (max-width: 600px) {
  .reviews-container {
    padding-top: 120px;
    padding-bottom: 180px;
  }
  .reviews-container .review-card .author {
    font-size: 18px;
    line-height: 27px;
  }
  .reviews-container .review-card .job {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 17px;
  }
  .reviews-container .review-card .review {
    font-size: 12px;
    line-height: 15px;
  }
}
.submit-dream .heading-container {
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 92px;
}
@media (max-width: 767px) {
  .submit-dream .heading-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 600px) {
  .submit-dream .heading-container {
    padding-bottom: 80px;
  }
}
.submit-dream .dreams-container {
  display: flex;
  justify-content: space-between;
  max-width: 1030px;
  width: 100%;
  margin: auto;
  padding-bottom: 156px;
  text-align: center;
}
.submit-dream .dreams-container .personal-dream,
.submit-dream .dreams-container .profesional-dream {
  display: flex;
  flex-direction: column;
  max-width: 394px;
  width: 100%;
}
.submit-dream .dreams-container .personal-dream .dream-img,
.submit-dream .dreams-container .profesional-dream .dream-img {
  margin: 0 auto 55px;
  height: 198px;
  width: auto;
}
.submit-dream .dreams-container .personal-dream .dream-heading,
.submit-dream .dreams-container .profesional-dream .dream-heading {
  margin-bottom: 20px;
}
.submit-dream .dreams-container .personal-dream .paragraph-small,
.submit-dream .dreams-container .profesional-dream .paragraph-small {
  margin-bottom: 55px;
}
@media (max-width: 1024px) {
  .submit-dream .dreams-container {
    padding-right: 80px;
    padding-left: 80px;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .submit-dream .dreams-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 1024px) {
  .submit-dream .dreams-container .personal-dream {
    margin-bottom: 150px;
  }
}
@media (max-width: 1024px) {
  .submit-dream .dreams-container .personal-dream,
.submit-dream .dreams-container .profesional-dream {
    max-width: 100%;
  }
  .submit-dream .dreams-container .personal-dream .dream-img,
.submit-dream .dreams-container .profesional-dream .dream-img {
    margin-bottom: 30px;
  }
  .submit-dream .dreams-container .personal-dream .dream-heading,
.submit-dream .dreams-container .profesional-dream .dream-heading {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .submit-dream .dreams-container {
    padding-bottom: 120px;
  }
  .submit-dream .dreams-container .personal-dream {
    margin-bottom: 80px;
  }
  .submit-dream .dreams-container .personal-dream .dream-img,
.submit-dream .dreams-container .profesional-dream .dream-img {
    height: 190px;
  }
}
.submit-dream .gallery-container::before {
  top: -6px;
}
.submit-dream .gallery-container::after {
  bottom: -19px;
}
.submit-dream .gallery-container .images-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 700px) {
  .submit-dream .gallery-container .images-wrap {
    align-items: normal;
  }
  .submit-dream .gallery-container::after {
    bottom: -1px;
  }
}
.submit-dream .form-container {
  padding-top: 170px;
  padding-bottom: 155px;
}
.submit-dream .form-container .form-heading {
  margin-bottom: 51px;
}
.submit-dream .form-container .form-wrap {
  margin-bottom: 70px;
}
@media (max-width: 600px) {
  .submit-dream .form-container {
    padding-top: 120px;
    padding-bottom: 160px;
  }
  .submit-dream .form-container .form-heading {
    margin-bottom: 30px;
  }
}

.dreams-support .paragraph-small {
  max-width: 818px;
  width: 100%;
  margin: auto;
}
.dreams-support .heading-container {
  padding-bottom: 94px;
}
.dreams-support .heading-container .page-heading {
  margin-bottom: 64px;
}
@media (max-width: 767px) {
  .dreams-support .paragraph-small {
    font-size: 14px;
    line-height: 17px;
  }
  .dreams-support .heading-container {
    padding-bottom: 80px;
  }
}

.map-container {
  margin-bottom: -67px;
}

.companies-container {
  display: flex;
  justify-content: space-between;
  max-width: 606px;
  width: 100%;
  margin: 0 auto 60px;
}
.companies-container .company-location,
.companies-container .company-type {
  display: flex;
  flex-direction: column;
  max-width: 288px;
  width: 100%;
}
.companies-container .company-location .paragraph-small,
.companies-container .company-type .paragraph-small {
  margin-top: 0;
  margin-bottom: 14px;
  color: #ffa800;
  font-weight: 500;
}
.companies-container .company-location .company-dropdown,
.companies-container .company-type .company-dropdown {
  position: relative;
  display: block;
  min-height: 43px;
  padding: 12px 15px 10px;
  background-color: #e7e3e7;
  border-radius: 6px;
}
.companies-container .company-location .company-dropdown::after,
.companies-container .company-type .company-dropdown::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 11px;
  height: 14px;
  width: 18px;
  background-image: url(../img/select-arrow.png);
  background-image: url(../img/select-arrow.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
.companies-container .company-location .company-dropdown .current-type,
.companies-container .company-location .company-dropdown .current-location,
.companies-container .company-location .company-dropdown .location-item,
.companies-container .company-location .company-dropdown .type-item,
.companies-container .company-type .company-dropdown .current-type,
.companies-container .company-type .company-dropdown .current-location,
.companies-container .company-type .company-dropdown .location-item,
.companies-container .company-type .company-dropdown .type-item {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  color: #2f4858;
  letter-spacing: -0.015em;
  cursor: pointer;
}
.companies-container .company-location .company-dropdown .location-options,
.companies-container .company-location .company-dropdown .type-options,
.companies-container .company-type .company-dropdown .location-options,
.companies-container .company-type .company-dropdown .type-options {
  position: relative;
  display: block;
  height: 0;
  overflow: hidden;
}
.companies-container .company-location .company-dropdown .location-options::before,
.companies-container .company-location .company-dropdown .type-options::before,
.companies-container .company-type .company-dropdown .location-options::before,
.companies-container .company-type .company-dropdown .type-options::before {
  content: "";
  position: absolute;
  top: 2px;
  height: 0.5px;
  max-width: 219px;
  width: 100%;
  background-color: #2f4858;
  transition: all 0.3s linear 0s;
}
.companies-container .company-location .company-dropdown .location-options .location-item,
.companies-container .company-location .company-dropdown .location-options .type-item,
.companies-container .company-location .company-dropdown .type-options .location-item,
.companies-container .company-location .company-dropdown .type-options .type-item,
.companies-container .company-type .company-dropdown .location-options .location-item,
.companies-container .company-type .company-dropdown .location-options .type-item,
.companies-container .company-type .company-dropdown .type-options .location-item,
.companies-container .company-type .company-dropdown .type-options .type-item {
  margin-top: 10px;
}
.companies-container .company-location .company-dropdown .location-options.show,
.companies-container .company-location .company-dropdown .type-options.show,
.companies-container .company-type .company-dropdown .location-options.show,
.companies-container .company-type .company-dropdown .type-options.show {
  height: auto;
  margin-top: 5px;
}

@media (max-width: 767px) {
  .companies-container {
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 80px;
    padding-right: 80px;
    padding-left: 80px;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .companies-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  .companies-container .company-location {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .companies-container .company-location,
.companies-container .company-type {
    max-width: 100%;
    width: 100%;
  }
  .companies-container .company-location .company-dropdown .current-type,
.companies-container .company-location .company-dropdown .current-location,
.companies-container .company-location .company-dropdown .location-item,
.companies-container .company-location .company-dropdown .type-item,
.companies-container .company-type .company-dropdown .current-type,
.companies-container .company-type .company-dropdown .current-location,
.companies-container .company-type .company-dropdown .location-item,
.companies-container .company-type .company-dropdown .type-item {
    font-size: 14px;
    line-height: 17px;
  }
}
.marker-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marker-container .marker-logo {
  width: 120px;
  height: 100%;
}
.marker-container .marker-content {
  display: flex;
  margin-left: 30px;
  text-transform: none !important;
}
.marker-container .marker-content .marker-name {
  text-transform: none;
}
.marker-container .marker-content .marker-contact-info {
  text-align: right;
}

.selected-companies {
  padding-right: 80px;
  padding-left: 80px;
}
@media (max-width: 767px) {
  .selected-companies {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.selected-companies .marker-container {
  max-width: 823px;
  width: 100%;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;
}
.selected-companies .marker-container:last-child {
  margin-bottom: 60px;
}
.selected-companies .marker-container .marker-content {
  justify-content: space-between;
  align-items: center;
  max-width: 606px;
  width: 100%;
  margin-bottom: 0;
}
.selected-companies .marker-container .marker-content .marker-name {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  text-align: left;
}
.selected-companies .marker-container .marker-content .marker-contact-info {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .selected-companies .marker-container .marker-logo {
    width: 98px;
  }
}
@media (max-width: 600px) {
  .selected-companies {
    display: none;
  }
}
#map {
  height: 680px;
  background: rgba(196, 186, 196, 0.4);
  width: 100%;
}
#map .gm-style .gm-style-mtc,
#map .gm-style .gm-svpc {
  display: none !important;
}
#map .gm-style .gm-bundled-control .gmnoprint {
  top: -82px !important;
  left: -69px !important;
}
#map .gm-style .gm-bundled-control .gmnoprint div[draggable=false] {
  width: auto !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
#map .gm-style .gm-bundled-control .gmnoprint div[draggable=false] .gm-control-active {
  width: 56.82px !important;
  height: 57.14px !important;
  background: rgba(255, 168, 0, 0.5) !important;
  border-radius: 14px;
}
#map .gm-style .gm-bundled-control .gmnoprint div[draggable=false] .gm-control-active[aria-label="Zoom in"] {
  margin-bottom: 20px !important;
}
#map .gm-style .gm-bundled-control .gmnoprint div[draggable=false] div {
  display: none;
}
#map .gm-style-iw-c {
  padding: 0 !important;
  background: transparent !important;
}
#map .gm-style-iw-c .gm-style-iw-d {
  max-height: auto;
  padding: 0 !important;
  overflow: hidden !important;
}
#map .gm-style-iw-t::after {
  display: none;
}
#map .marker-container {
  background: rgba(255, 168, 0, 0.5) !important;
  padding: 22px 27px 25px 30px !important;
}
#map .marker-container .marker-content {
  flex-direction: column;
}
#map .marker-container .marker-content .marker-name {
  margin-bottom: 30px;
  text-align: right;
}

@media (max-width: 1024px) {
  #map .gm-style .gm-bundled-control .gmnoprint {
    top: -90px !important;
    left: -35px !important;
  }
  #map .marker-container {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 600px) {
  #map {
    height: 680px;
  }
  #map .gm-style-iw-c {
    max-width: 300px !important;
  }
  #map .gm-style .gm-bundled-control .gmnoprint {
    left: -23px !important;
  }
  #map .gm-style .gm-bundled-control .gmnoprint div[draggable=false] .gm-control-active {
    transform: scale(0.8);
  }
  #map .gm-style .gm-bundled-control .gmnoprint div[draggable=false] .gm-control-active[aria-label="Zoom in"] {
    margin-bottom: 0 !important;
  }
  #map .marker-container {
    flex-direction: column;
  }
  #map .marker-container .marker-logo-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 15px;
  }
  #map .marker-container .marker-logo-container .marker-logo {
    text-align: right;
  }
  #map .marker-container .marker-content .marker-name {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
  }
}
.entrepreneurs .heading-container {
  margin: auto;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 156px;
}
@media (max-width: 767px) {
  .entrepreneurs .heading-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.entrepreneurs .heading-container .paragraph-small {
  max-width: 810px;
  margin: auto;
}
.entrepreneurs .form-container {
  padding-bottom: 155px;
}
.entrepreneurs .form-container .form .form-heading {
  margin-bottom: 63px;
}
.entrepreneurs .form-container .form .form-textarea {
  margin-bottom: 27px;
}
@media (max-width: 600px) {
  .entrepreneurs .heading-container {
    padding-bottom: 120px;
  }
  .entrepreneurs .form-container {
    padding-bottom: 160px;
  }
  .entrepreneurs .form-container .form .form-heading {
    margin-bottom: 30px;
  }
  .entrepreneurs .form-container .form .form-textarea {
    margin-bottom: 10px;
  }
}

.bank-of-dreams .heading-container .page-heading {
  margin-bottom: 65px;
}
@media (max-width: 600px) {
  .bank-of-dreams .heading-container .page-heading {
    margin-bottom: 30px;
  }
  .bank-of-dreams .paragraph-large {
    font-size: 18px;
    line-height: 22px;
  }
}
.bank-of-dreams .questions-container {
  padding-top: 149px;
  padding-bottom: 151px;
}
@media (max-width: 600px) {
  .bank-of-dreams .questions-container {
    padding-top: 120px;
    padding-bottom: 160px;
  }
}

.dream-video-container {
  display: flex;
  height: 769px;
  background-image: url(../img/dream-video.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  .dream-video-container {
    height: 432px;
  }
}
@media (max-width: 480px) {
  .dream-video-container {
    height: 180px;
  }
}
.goals-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 151px;
  padding-bottom: 151px;
}
@media (max-width: 767px) {
  .goals-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.goals-container h2 {
  margin-bottom: 90px;
}
.goals-container .goal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 712px;
  width: 100%;
  margin: auto;
}
.goals-container .goal .sun-img,
.goals-container .goal .glasses-img {
  margin-right: 60px;
}
.goals-container .goal .mountain-img {
  margin-left: 60px;
}
.goals-container .goal .paragraph-small {
  max-width: 500px;
  width: 100%;
}
.goals-container .first-goal {
  margin-bottom: 101px;
}
.goals-container .second-goal {
  margin-bottom: 112px;
}

@media (min-width: 1100px) {
  .goals-container .first-goal {
    margin-left: 25%;
  }
  .goals-container .second-goal {
    margin-right: 34%;
  }
  .goals-container .third-goal {
    margin-left: 25%;
  }
}
@media (min-width: 768px) {
  .goals-container .second-goal {
    flex-direction: row-reverse;
    text-align: right;
  }
}
@media (max-width: 767px) {
  .goals-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .goals-container .goal {
    flex-direction: column;
    text-align: center;
  }
  .goals-container .goal .goal-img {
    margin-bottom: 25px;
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .goals-container h2 {
    margin-bottom: 60px;
  }
  .goals-container .goal {
    margin-bottom: 60px;
  }
  .goals-container .goal .goal-img {
    width: 118px;
    height: auto;
  }
  .goals-container .third-goal {
    margin-bottom: 0;
  }
}
.mission-container {
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 151px;
}
@media (max-width: 767px) {
  .mission-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.mission-container h2 {
  margin-bottom: 52px;
}

@media (max-width: 768px) {
  .mission-container h2 {
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .mission-container {
    padding-bottom: 120px;
  }
}
.save-dreams-container,
.dream-criteria-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 533px;
  padding-top: 60px;
  padding-bottom: 90px;
  color: #fff;
  text-align: center;
  padding-right: 80px;
  padding-left: 80px;
  background: url(../img/orange-bg.png);
  background: url(../img/orange-bg.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 767px) {
  .save-dreams-container,
.dream-criteria-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 1366px) {
  .save-dreams-container,
.dream-criteria-container {
    background-size: 100% 533px;
  }
}
@media (max-width: 600px) {
  .save-dreams-container,
.dream-criteria-container {
    height: 471px;
  }
}
.save-dreams-container .paragraph-large {
  max-width: 818px;
  margin: 0 auto;
}

.dream-criteria-container .paragraph-large {
  max-width: 1030px;
  margin: 0 auto;
}

.nature-img, .rainbow-img {
  max-width: 367px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.rainbow-img {
  max-width: 401px;
}

@media (max-width: 600px) {
  .rainbow-img,
.nature-img {
    max-width: 279px;
  }
}
.voters-container {
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 150px;
  padding-bottom: 160px;
}
@media (max-width: 767px) {
  .voters-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.voters-container h2 {
  margin-bottom: 60px;
}
.voters-container .voters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 817px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.voters-container .voters .voter-group {
  max-width: 288px;
  width: 100%;
}
.voters-container .voters .voter-group .speaker-img {
  height: 150px;
  margin-bottom: 30px;
}
.voters-container .voters .voter-group .partners-img-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 150px;
  margin-bottom: 30px;
}
.voters-container .voters .voter-group .partners-img-wrap .partners-img {
  height: 120px;
}

@media (max-width: 768px) {
  .voters-container .paragraph-large {
    font-size: 18px;
    line-height: 22px;
  }
  .voters-container .voters .voter-group {
    margin-right: auto;
    margin-left: auto;
  }
  .voters-container .voters .voter-group .speaker-img {
    height: 100px;
  }
  .voters-container .voters .voter-group .partners-img-wrap {
    height: 100px;
  }
  .voters-container .voters .voter-group .partners-img-wrap .partners-img {
    height: 100%;
  }
}
@media (max-width: 600px) {
  .voters-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .voters-container .voters {
    display: flex;
    flex-direction: column;
  }
  .voters-container .voters .voter-group {
    max-width: 100%;
    margin: auto;
  }
  .voters-container .voters .voter-group:nth-child(1) {
    margin-bottom: 60px;
  }
}
.inspiration-stories .heading-container {
  padding-bottom: 150px;
}
@media (max-width: 600px) {
  .inspiration-stories .heading-container {
    padding-bottom: 80px;
  }
  .inspiration-stories .heading-container .paragraph-large {
    font-size: 18px;
    line-height: 22px;
  }
}

.stories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 131px;
}
@media (max-width: 767px) {
  .stories-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.stories-container .sparkle-btn {
  margin-top: 50px;
}
.stories-container .stories-container-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1044px;
  width: 100%;
  margin: auto;
}
.stories-container .stories-container-inner .story {
  position: relative;
  z-index: 1;
  width: 160px;
  height: 160px;
  margin: 0 7px 14px;
  color: #fff;
  cursor: pointer;
}
.stories-container .stories-container-inner .story::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/hover-img.jpg);
  opacity: 0.5;
}
.stories-container .stories-container-inner .story:hover {
  transition: all 0.3s linear 0s;
}
.stories-container .stories-container-inner .story .story-number {
  position: absolute;
  right: 15px;
  bottom: -6px;
  z-index: 3;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 53px;
  pointer-events: none;
}
.stories-container .stories-container-inner .story .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../img/hover-img.jpg);
  opacity: 0;
  transition: all 0.3s linear 0s;
}
.stories-container .stories-container-inner .story:hover .overlay {
  opacity: 1;
}
.stories-container .stories-container-inner .story h3,
.stories-container .stories-container-inner .story .comming-soon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 100%;
  font-family: "Oswald", sans-serif;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: none;
  pointer-events: none;
}
.stories-container .stories-container-inner .story h3 {
  font-size: 24px;
  line-height: 36px;
}
.stories-container .stories-container-inner .story .comming-soon {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
}
.stories-container .modal-container h3 {
  margin-top: 25px;
  font-size: 36px;
  line-height: 53px;
  color: #fff;
  text-transform: none;
}

@media (max-width: 768px) {
  .stories-container .stories-container-inner .story {
    width: 142px;
    height: 142px;
  }
  .stories-container .stories-container-inner .story .comming-soon {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 600px) {
  .stories-container {
    padding-bottom: 120px;
  }
  .stories-container .stories-container-inner .story {
    width: 134px;
    height: 134px;
    margin: 0 3px 10px;
  }
  .stories-container .modal-container h3 {
    font-size: 24px;
    line-height: 36px;
  }
}
.sparkle-team {
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 152px;
  text-align: center;
}
@media (max-width: 767px) {
  .sparkle-team {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.sparkle-team h3 {
  margin-bottom: 23px;
}
.sparkle-team .paragraph-small {
  max-width: 606px;
}
.sparkle-team .sparkle-teammates {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1027px;
  width: 100%;
  margin: 62px auto 0;
  color: #fff;
}
.sparkle-team .sparkle-teammates .teammate {
  display: flex;
  align-items: flex-end;
  width: 288px;
  height: 365px;
  background-position: center;
  background-repeat: no-repeat;
}
.sparkle-team .sparkle-teammates .teammate .teammate-info {
  margin: 0 15px 20px;
}
.sparkle-team .sparkle-teammates .teammate .teammate-info .teammate-name {
  text-transform: none;
  margin-bottom: 1px;
}
.sparkle-team .sparkle-teammates .mate-girts {
  background-image: linear-gradient(to top, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%), url(../img/girts-cerins.jpg);
}
.sparkle-team .sparkle-teammates .mate-janis {
  background-image: linear-gradient(to top, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%), url(../img/janis-zurgis.jpg);
}
.sparkle-team .sparkle-teammates .mate-juris {
  background-image: linear-gradient(to top, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%), url(../img/juris-gogulis.jpg);
}

@media (max-width: 1024px) {
  .sparkle-team .sparkle-teammates {
    flex-direction: column;
  }
  .sparkle-team .sparkle-teammates .teammate + .teammate {
    margin-top: 25px;
  }
  .sparkle-team .sparkle-teammates .teammate {
    margin: auto;
  }
}
@media (max-width: 600px) {
  .sparkle-team .sparkle-teammates {
    flex-direction: column;
  }
  .sparkle-team .sparkle-teammates .teammate {
    width: 280px;
    height: 354px;
  }
  .sparkle-team .sparkle-teammates .teammate .teammate-info {
    padding: 0 5px;
  }
  .sparkle-team .sparkle-teammates .teammate .teammate-info .paragraph-small {
    font-size: 18px;
    line-height: 22px;
  }
}
.container-404 {
  padding-top: 262px;
  padding-bottom: 215px;
  padding-right: 80px;
  padding-left: 80px;
  background-color: #ffcb66;
  text-align: center;
  margin-bottom: -55px;
}
@media (max-width: 767px) {
  .container-404 {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.container-404 h1,
.container-404 h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
.container-404 .heading-404 {
  margin-bottom: 24px;
  color: #fff;
  font-size: 96px;
  line-height: 142px;
}
.container-404 .heading-not-found {
  margin-bottom: 33px;
  text-transform: none;
}
.container-404 .paragraph-small {
  margin-bottom: 50px;
}
.container-404 .sparkle-btn {
  color: #ffcb66;
  text-decoration: none;
  background-color: #fff;
}
.container-404 .sparkle-btn:hover {
  background-color: #ff8a00;
}

@media (max-width: 600px) {
  .container-404 {
    padding-top: 140px;
    padding-bottom: 170px;
  }
  .container-404 .heading-404 {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 90px;
  }
  .container-404 .heading-not-found {
    margin-bottom: 15px;
  }
}
* *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  color: #2f4858;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
  line-height: 71px;
}

h2 {
  font-size: 30px;
  line-height: 44px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 36px;
    line-height: 53px;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
  }
}
h3 {
  font-size: 24px;
}

a,
button {
  cursor: pointer;
}

li {
  list-style: none;
}

ul,
a {
  text-decoration: none;
}

a,
li,
ul,
button,
input,
p {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.underline {
  position: relative;
  display: inline;
  overflow: hidden;
}
.underline::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 4px;
  background: #ffa800;
  transition-property: width;
  transition: all 0.3s linear 0s;
}
.underline:hover:after,
.underline :focus:after,
.underline :active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.site-wrap {
  position: relative;
}
.site-wrap button {
  outline: none;
}

.site-content {
  width: 100%;
  color: #2f4858;
}

.heading-container {
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 205px;
  text-align: center;
}
@media (max-width: 767px) {
  .heading-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.heading-container .page-heading {
  margin-bottom: 60px;
}

.paragraph-small {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
}

.paragraph-large {
  margin: 0 auto;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 768px) {
  .heading-container {
    padding-top: 176px;
  }
}
@media (max-width: 600px) {
  .heading-container {
    padding-top: 107px;
  }
  .heading-container .page-heading {
    margin-bottom: 30px;
  }

  .paragraph-small {
    font-size: 12px;
    line-height: 15px;
  }

  .paragraph-large {
    font-size: 14px;
    line-height: 17px;
  }
}
.sparkle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 233px;
  height: 50px;
  margin: auto;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: 500;
  color: #fff;
  background-color: #ffa800;
  border: none;
  border-radius: 30px;
  transition: all 0.3s linear 0s;
}
.sparkle-btn:hover {
  background-color: #ffda16;
}
.sparkle-btn:active {
  background-color: #ff8a00;
}
.sparkle-btn:hover {
  text-decoration: none;
  color: #fff;
}

.site-header .active-page::after,
.site-footer .active-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ffa800;
}

.video-container {
  display: flex;
  height: 722px;
  margin-top: 47px;
  background-image: url(../img/sparkle-video.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.video-btn {
  height: 83px;
  width: 86px;
  margin: auto;
  font-weight: 500;
  color: #fff;
  background-color: #ffa800;
  border: none;
  border-radius: 30px;
  transition: all 0.3s linear 0s;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.video-btn:hover {
  background-color: #ffda16;
}
.video-btn:active {
  background-color: #ff8a00;
}
.video-btn i {
  margin-left: 5px;
  font-size: 33px;
  pointer-events: none;
}

@media (max-width: 1024px) {
  .video-container {
    max-height: 406px;
  }
}
@media (max-width: 767px) {
  .video-container {
    width: auto;
    max-height: 200px;
  }

  .video-btn {
    width: 50px;
    height: 48px;
  }
  .video-btn i {
    margin-left: 3px;
    font-size: 20px;
  }
}
.about-container {
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 150px;
  padding-bottom: 155px;
}
@media (max-width: 767px) {
  .about-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.about-container .about {
  max-width: 654px;
  width: 100%;
  margin: auto;
  text-align: center;
}

@media (max-width: 767px) {
  .about-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.gallery-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
}
.gallery-container::before {
  top: -1px;
  height: 55px;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: url(../img/ripped-line.png);
  background: url(../img/ripped-line.svg);
  transform: rotate(-180deg);
}
.gallery-container::after {
  bottom: -14px;
  height: 55px;
  background: url(../img/ripped-line.png);
  background: url(../img/ripped-line.svg);
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: bottom;
}
.gallery-container .images-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.gallery-container .images-wrap .img-wrap {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1025px) {
  .gallery-container .img-1 {
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  .gallery-container {
    flex-direction: column-reverse;
  }
  .gallery-container img {
    width: 100%;
    height: 100%;
  }
  .gallery-container .images-wrap {
    width: 100%;
  }
  .gallery-container .images-wrap-mobile {
    align-items: flex-start;
  }
  .gallery-container .images-wrap-mobile .home-img-wrap {
    width: 100%;
    height: 100%;
  }
}
.questions-container {
  width: 100%;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 165px;
  padding-bottom: 150px;
}
@media (max-width: 767px) {
  .questions-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.questions-container .questions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 980px;
  width: 100%;
  margin: auto;
}
.questions-container .questions h3 {
  margin-bottom: 44px;
  line-height: 36px;
  text-transform: uppercase;
}
.questions-container .questions .question-dreamers,
.questions-container .questions .question-employers {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 46%;
  text-align: center;
}

@media (max-width: 1024px) {
  .questions-container .questions h3 {
    font-size: 18px;
    line-height: 27px;
  }
  .questions-container .questions .question-dreamers button {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .questions-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .questions-container .questions h3 {
    margin-bottom: 30px;
  }
  .questions-container .questions .question-dreamers {
    width: 100%;
    margin-bottom: 80px;
  }
  .questions-container .questions .question-employers {
    width: 100%;
  }
}
.form-container {
  width: 100%;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 150px;
}
@media (max-width: 767px) {
  .form-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.form-container .form-heading {
  margin-bottom: 57px;
  text-align: center;
  line-height: 44px;
  text-transform: uppercase;
}
.form-container p,
.form-container label {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.form-container .hide-block {
  display: none;
}
.form-container .form {
  display: flex;
  flex-direction: column;
  max-width: 612px;
  width: 100%;
  margin: auto;
}
.form-container .form input::placeholder,
.form-container .form .form-textarea::placeholder {
  color: #2f4858;
}
.form-container .form .name-email-inputs {
  display: flex;
  justify-content: space-between;
}
.form-container .form .name-email-inputs .name-input,
.form-container .form .name-email-inputs .email-input {
  max-width: 296px;
  width: 100%;
}
.form-container .form .form-input {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
  padding: 12px 14px 8px 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.015em;
  background: rgba(196, 196, 196, 0.4);
  border-radius: 6px;
  border: none;
}
.form-container .form .form-textarea {
  min-height: 232px;
  align-items: center;
  display: flex;
  margin-bottom: 16px;
  padding: 12px 14px 8px 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.015em;
  background: rgba(196, 196, 196, 0.4);
  border-radius: 6px;
  border: none;
}
.form-container .form .required-fields {
  margin-bottom: 33px;
}
.form-container .form .check-container {
  display: flex;
  margin-bottom: 47px;
}
.form-container .form .check-container input[type=checkbox] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-left: 3px;
  background: rgba(196, 196, 196, 0.4);
  border-radius: 4px;
  appearance: none;
  outline: none !important;
  cursor: pointer;
}
.form-container .form .check-container input[type=checkbox]:after {
  content: "";
  display: none;
  margin-top: 1px;
  font-family: "Font Awesome 5 Free";
  font-size: 13px;
  font-weight: 900;
  color: #2f4858;
}
.form-container .form .check-container input[type=checkbox]:hover {
  background: rgba(196, 196, 196, 0.8);
}
.form-container .form .check-container input[type=checkbox]:checked:after {
  display: block;
}
.form-container .form .check-container label {
  margin-left: 21px;
}
.form-container .form .submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 62px;
  margin: auto;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: #fff;
  background-color: #ffa800;
  border: none;
  border-radius: 30px;
  transition: all 0.3s linear 0s;
}
.form-container .form .submit-btn:hover {
  background-color: #ffda16;
}
.form-container .form .submit-btn:active {
  background-color: #ff8a00;
}
.form-container .form #success-submit {
  margin-top: 44px;
  margin-bottom: 43px;
  text-align: center;
  color: #ffa800;
}
.form-container .form #success-submit .success-msg-heading {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 29px;
  font-family: "Montserrat", sans-serif;
  text-transform: none;
}
.form-container .form #success-submit .success-msg-paragraph {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .form-container .form .required-fields {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .form-container {
    padding-bottom: 120px;
  }
  .form-container .form-heading {
    margin-bottom: 30px;
  }
  .form-container p,
.form-container label {
    font-size: 12px;
    line-height: 15px;
  }
  .form-container .form .form-input, .form-container .form .form-textarea {
    font-size: 14px;
    line-height: 17px;
  }
  .form-container .form .name-email-inputs {
    flex-direction: column;
  }
  .form-container .form .name-email-inputs .name-input,
.form-container .form .name-email-inputs .email-input {
    max-width: 100%;
  }
  .form-container .form .required-fields {
    margin-bottom: 10px;
  }
  .form-container .form .submit-btn {
    font-size: 18px;
    line-height: 22px;
    width: 140px;
    height: 48px;
  }
  .form-container .form #success-submit {
    margin-top: 34px;
  }
  .form-container .form #success-submit .success-msg-heading {
    font-size: 18px;
    line-height: 22px;
  }
  .form-container .form #success-submit .success-msg-paragraph {
    font-size: 14px;
    line-height: 17px;
  }
}
.supporters-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -68px;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 104px;
  padding-bottom: 200px;
  background-image: url(../img/orange-bg.png);
  background-image: url(../img/orange-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}
@media (max-width: 767px) {
  .supporters-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.supporters-container h3 {
  margin-bottom: 66px;
}
.supporters-container .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
}
.supporters-container .logo-container .logo + .logo {
  padding: 0 10px;
}

@media (max-width: 1024px) {
  .supporters-container .logo {
    width: auto;
    height: 47px;
  }
  .supporters-container .logo-linearis {
    width: auto;
    height: 71px;
  }
}
@media (max-width: 768px) {
  .supporters-container {
    padding-top: 56px;
    padding-bottom: 100px;
  }
  .supporters-container h3 {
    margin-bottom: 25px;
  }
}
@media (max-width: 700px) {
  .supporters-container {
    flex-wrap: wrap;
    padding-top: 83px;
  }
  .supporters-container h3 {
    margin-bottom: 60px;
  }
  .supporters-container .logo {
    width: 130px;
    height: auto;
    margin-bottom: 40px;
  }
  .supporters-container .linearis-container {
    display: flex;
    margin: auto;
  }
}
.scroll-btn {
  right: 65px;
  z-index: 2;
  display: none;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  border: none;
  outline: none;
}
.scroll-btn i {
  font-size: 30px;
  color: #2f4858;
}
.scroll-btn:hover {
  background: rgba(255, 203, 102, 0.8);
}
.scroll-btn:active {
  background: rgba(255, 138, 0, 0.8);
}

@media (max-width: 1024px) {
  .scroll-btn {
    right: 30px;
    bottom: 60px;
  }
}
@media (max-width: 600px) {
  .scroll-btn {
    right: 20px;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -10;
  display: none;
  width: 100%;
  height: 100%;
  padding-right: 80px;
  padding-left: 80px;
  background: rgba(47, 72, 88, 0.9);
  transition: var(--transition);
}
@media (max-width: 767px) {
  .modal-overlay {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.open-modal {
  z-index: 10;
  display: block;
}

.modal-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  max-width: 1055px;
  width: 100%;
  margin: auto;
}
.modal-container .modal-video {
  max-width: 912px;
  width: 100%;
  margin: 25px auto 0;
}
.modal-container .close-btn {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  text-align: right;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.modal-container .close-btn .close-btn-icon {
  display: block;
  width: 23px;
  height: 23px;
  background: url(../img/close-btn.png);
  background: url(../img/close-btn.svg);
  background-repeat: no-repeat;
  pointer-events: none;
}

@media (max-width: 768px) {
  .modal-container .close-btn svg {
    transform: scale(0.7);
  }
}
@media (max-width: 600px) {
  .modal-container .modal-video {
    margin: 15px auto 0;
  }
}

/*# sourceMappingURL=style.css.map */
