.inspiration-stories {
  // heading container
  .heading-container { padding-bottom: 150px; }

  @media (max-width: 600px) {
    .heading-container {
      padding-bottom: 80px;
    
      .paragraph-large {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

// stories grid
.stories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include theme-padding;
  padding-bottom: 131px;

  .sparkle-btn { margin-top: 50px; }
  
  .stories-container-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1044px;
    width: 100%;
    margin: auto;

    .story {
      position: relative;
      z-index: 1;
      width: 160px;
      height: 160px;
      margin:  0 7px 14px;
      color: $secondary-clr;
      cursor: pointer;
      
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../img/hover-img.jpg);
        opacity: 0.5;
      } 


      &:hover { transition: $transition; }

      .story-number {
        position: absolute;
        right: 15px;
        bottom: -6px;
        z-index: 3;
        font-family: $ff-oswald;
        font-size: 36px;
        line-height: 53px;
      }

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url(../img/hover-img.jpg);
        opacity: 0;
        transition: $transition;
      }
    
      &:hover {
        .overlay { opacity: 1; }
      }
      
      h3,
      .comming-soon {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        width: 100%;
        font-family: $ff-oswald;
        transform: translate(-50%, -50%);
        text-align: center;
        text-transform: none;
      }

      h3 {
        font-size: 24px;
        line-height: 36px;
      }

      .comming-soon {
        font-size: 18px;
        line-height: 27px;
        font-weight: 700;
      }
    }
  }

  // modal window
  .modal-container {
    h3 {
      margin-top: 25px;
      font-size: 36px;
      line-height: 53px;
      color: $secondary-clr;
      text-transform: none;
    }
  }
}


@media (max-width: 768px) {
  .stories-container {
    .stories-container-inner {
      .story {
        width: 142px;
        height: 142px;

        .comming-soon {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .stories-container {
    padding-bottom: 120px;

    .stories-container-inner {
      .story {
        width: 134px;
        height: 134px;
        margin: 0 3px 10px;
      }
    }

    .modal-container {
      h3 {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }
}

// Sparkle team
.sparkle-team {
  @include theme-padding;
  padding-bottom: 152px;
  text-align: center;

  h3 { margin-bottom: 23px; }

  .paragraph-small { max-width: 606px; }

  .sparkle-teammates {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1027px;
    width: 100%;
    margin: 62px auto 0;
    color: $secondary-clr;

    .teammate {
      display: flex;
      align-items: flex-end;
      width: 288px;
      height: 365px;
      background-position: center;
      background-repeat: no-repeat;

      .teammate-info {
        margin: 0 15px 20px;
        
        .teammate-name {
          text-transform: none;
          margin-bottom: 1px;
        }
      }
    }

    .mate-girts { background-image: linear-gradient(to top, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%), url(../img/girts-cerins.jpg); }

    .mate-janis { background-image: linear-gradient(to top, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%), url(../img/janis-zurgis.jpg); }

    .mate-juris { background-image: linear-gradient(to top, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%), url(../img/juris-gogulis.jpg); }
  }
}

@media (max-width: 1024px) {
  .sparkle-team {
    .sparkle-teammates {
      flex-direction: column;

      .teammate + .teammate { margin-top: 25px; }

      .teammate { margin: auto; }
    }
  }
}

@media (max-width: 600px) {
  .sparkle-team {
    .sparkle-teammates {
      flex-direction: column;

      .teammate {
        width: 280px;
        height: 354px;

        .teammate-info {
          padding: 0 5px;
          
          .paragraph-small {
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
  }
}