// variables
$ff-oswald: "Oswald", sans-serif;
$ff-montserrat: "Montserrat", sans-serif;

$fw-reg: 400;
$fw-med: 500;
$fw-bold: 700;

$fs-h1: 48px;
$fs-h2: 30px;
$fs-h3: 24px;

$primary-clr: #2f4858;
$secondary-clr: #fff;
$header-text-clr: #000;

// button colors
$clr-orange: #ffa800;
$clr-orange-light: #ffda16;
$clr-orange-dark: #ff8a00;

$transition: all 0.3s linear 0s;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}